<a href="https://colab.research.google.com/github/s19195/PAD/blob/main/04_PAD_praca_domowa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv("orders.csv")
df["order_date"] = pd.to_datetime(df["order_date"], errors='coerce')
print(df)

      order_date  pages_visited         order_id customer_id  tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040  White T-Shirt M
1     2014-11-14             11  HTS-801797-0001      801797  White T-Shirt M
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3     2013-12-01             10  HTS-914324-0001      914324      Wh Tshirt F
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
...          ...            ...              ...         ...              ...
26547 2016-11-19             13  HTS-n641x4-0001      n641x4  White T-Shirt M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12  White T-Shirt M
26549 2017-03-09              6  HTS-sby0iz-0001      sby0iz  White T-Shirt M
26550 2016-10-04             11  HTS-uz70x4-0001      uz70x4           Hoodie
26551 2016-12-16              9  HTS-xnbc22-0001      xnbc22  Black T-Shirt M

       tshirt_price  tshirt_quantity
0              20.0                1
1              20.0                1
2              18.0                3
3              18.0                1
4              20.0                1
...             ...              ...
26547          20.0                1
26548          20.0                1
26549          20.0                1
26550          23.0                5
26551          19.0                3

[26552 rows x 7 columns]

In [22]:
print(df.tshirt_category.unique())

['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']

In [23]:
def replaceAll(str) :
  str =str.replace("White","Wh")
  str =str.replace("Hoodie","NaN Hoodie NaN")
  str= str.replace("T-shirt","T-Shirt")
  str= str.replace("Tshirt","T-Shirt")
  str=str.replace("Black","Bl")
  str=str.replace("Tennis Shirt","NaN T-Shirt NaN")
  return str;

df['tshirt_category'] = df['tshirt_category'].apply(replaceAll)

print(df)

      order_date  pages_visited         order_id customer_id tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040    Wh T-Shirt M
1     2014-11-14             11  HTS-801797-0001      801797    Wh T-Shirt M
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu    Wh T-Shirt F
3     2013-12-01             10  HTS-914324-0001      914324    Wh T-Shirt F
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r    Wh T-Shirt M
...          ...            ...              ...         ...             ...
26547 2016-11-19             13  HTS-n641x4-0001      n641x4    Wh T-Shirt M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12    Wh T-Shirt M
26549 2017-03-09              6  HTS-sby0iz-0001      sby0iz    Wh T-Shirt M
26550 2016-10-04             11  HTS-uz70x4-0001      uz70x4  NaN Hoodie NaN
26551 2016-12-16              9  HTS-xnbc22-0001      xnbc22    Bl T-Shirt M

       tshirt_price  tshirt_quantity
0              20.0                1
1              20.0                1
2              18.0                3
3              18.0                1
4              20.0                1
...             ...              ...
26547          20.0                1
26548          20.0                1
26549          20.0                1
26550          23.0                5
26551          19.0                3

[26552 rows x 7 columns]

In [14]:
#df[['tshirt_colour','tshirt_type', 'tshirt_sex']] = df['tshirt_category'].str.split(' ', 2, expand=True)
#df[['tshirt_colour','tshirt_type', 'tshirt_size']] = df.apply(['tshirt_category'].str.split(' ', 2, expand=True))

df[['tshirt_colour','tshirt_type', 'tshirt_sex']]=df['tshirt_category'].str.split(' ',expand=True).apply(lambda x: x.str.strip())

df = df.drop(["tshirt_category"], axis=1)
print(df)

      order_date  pages_visited         order_id customer_id  tshirt_price  \
0     2016-09-04              9  HTS-038040-0002      038040          20.0
1     2014-11-14             11  HTS-801797-0001      801797          20.0
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu          18.0
3     2013-12-01             10  HTS-914324-0001      914324          18.0
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r          20.0
...          ...            ...              ...         ...           ...
26547 2016-11-19             13  HTS-n641x4-0001      n641x4          20.0
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12          20.0
26549 2017-03-09              6  HTS-sby0iz-0001      sby0iz          20.0
26550 2016-10-04             11  HTS-uz70x4-0001      uz70x4          23.0
26551 2016-12-16              9  HTS-xnbc22-0001      xnbc22          19.0

       tshirt_quantity tshirt_colour tshirt_type tshirt_sex
0                    1            Wh     T-Shirt          M
1                    1            Wh     T-Shirt          M
2                    3            Wh     T-Shirt          F
3                    1            Wh     T-Shirt          F
4                    1            Wh     T-Shirt          M
...                ...           ...         ...        ...
26547                1            Wh     T-Shirt          M
26548                1            Wh     T-Shirt          M
26549                1            Wh     T-Shirt          M
26550                5           NaN      Hoodie        NaN
26551                3            Bl     T-Shirt          M

[26552 rows x 9 columns]

In [15]:
df['order_date'] = pd.to_datetime(df['order_date']) 
mask = (df['order_date'] > '2014-12-31') & (df['order_date'] <= '2016-08-02')
print(df.loc[mask])

      order_date  pages_visited         order_id customer_id  tshirt_price  \
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r          20.0
5     2016-01-15              9  HTS-061311-0003      061311          17.5
12    2015-11-24             15  HTS-je57lh-0001      je57lh          23.0
13    2015-10-10              8  HTS-252675-0002      252675          20.0
15    2015-11-29             15  HTS-heb26i-0001      heb26i          17.5
...          ...            ...              ...         ...           ...
26496 2016-06-02              2  HTS-5b4bg6-0001      5b4bg6          17.5
26513 2016-07-05             12  HTS-bt08zd-0001      bt08zd          18.0
26515 2016-07-27             17  HTS-gsc3f6-0001      gsc3f6          23.0
26540 2016-06-08              7  HTS-6ba0i0-0001      6ba0i0          20.0
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12          20.0

       tshirt_quantity tshirt_colour tshirt_type tshirt_sex
4                    1            Wh     T-Shirt          M
5                    4            Bl     T-Shirt          F
12                   3           NaN      Hoodie        NaN
13                   3            Wh     T-Shirt          M
15                   1            Bl     T-Shirt          F
...                ...           ...         ...        ...
26496                1            Bl     T-Shirt          F
26513                1            Wh     T-Shirt          F
26515                1           NaN      Hoodie        NaN
26540                4            Wh     T-Shirt          M
26548                1            Wh     T-Shirt          M

[12619 rows x 9 columns]

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [16]:
#1
df2 = pd.read_csv("customers.csv")
print(df2)
#2
if len(df2) > len(df) :
  print("Dłuższa dataframe2")
else:
    print("Dłuższa dataframe")

      customerID gender   birthdate  \
0         886900      M   1953/10/5
1         038040      F  1946/12/21
2         698696      F   1983/12/1
3         sn9keh      M   1990/9/23
4         496907      M    1869/6/8
...          ...    ...         ...
18761     m1yyx6      M   1999/8/19
18762     744375      F  1941/10/22
18763     t6pxeo      F   1950/5/10
18764     930049      F  1979/10/22
18765     950728      M   1997/9/18

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
18761  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
18762  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
18763  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
18764  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
18765  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign
0         False
1         False
2         False
3         False
4         False
...         ...
18761      True
18762     False
18763     False
18764     False
18765     False

[18766 rows x 6 columns]
Dłuższa dataframe

In [17]:
#3
df2.rename(columns = {'customerID':'customer_id'}, inplace = True)
print(df2)

      customer_id gender   birthdate  \
0          886900      M   1953/10/5
1          038040      F  1946/12/21
2          698696      F   1983/12/1
3          sn9keh      M   1990/9/23
4          496907      M    1869/6/8
...           ...    ...         ...
18761      m1yyx6      M   1999/8/19
18762      744375      F  1941/10/22
18763      t6pxeo      F   1950/5/10
18764      930049      F  1979/10/22
18765      950728      M   1997/9/18

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
18761  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
18762  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
18763  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
18764  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
18765  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign
0         False
1         False
2         False
3         False
4         False
...         ...
18761      True
18762     False
18763     False
18764     False
18765     False

[18766 rows x 6 columns]

In [18]:
df3=pd.merge(df, df2, on="customer_id")
print(df3)

      order_date  pages_visited         order_id customer_id  tshirt_price  \
0     2016-09-04              9  HTS-038040-0002      038040          20.0
1     2014-06-04             13  HTS-038040-0001      038040          18.0
2     2014-11-14             11  HTS-801797-0001      801797          20.0
3     2015-10-22             12  HTS-801797-0002      801797          20.0
4     2017-02-26             10  HTS-vft1eu-0003      vft1eu          18.0
...          ...            ...              ...         ...           ...
25877 2016-11-02             11  HTS-762534-0001      762534          23.0
25878 2016-11-16              4  HTS-hrpv38-0001      hrpv38          20.0
25879 2014-07-12             16  HTS-978569-0001      978569          23.0
25880 2016-08-05             11  HTS-k0batl-0001      k0batl          20.0
25881 2017-03-13             11  HTS-200121-0001      200121          24.0

       tshirt_quantity tshirt_colour tshirt_type tshirt_sex gender  \
0                    1            Wh     T-Shirt          M      F
1                    1            Wh     T-Shirt          F      F
2                    1            Wh     T-Shirt          M      M
3                    2            Wh     T-Shirt          M      M
4                    3            Wh     T-Shirt          F      F
...                ...           ...         ...        ...    ...
25877                1           NaN      Hoodie        NaN      M
25878                3            Wh     T-Shirt          M      F
25879                1           NaN      Hoodie        NaN      M
25880                2            Wh     T-Shirt          M      M
25881                1           NaN     T-Shirt        NaN      F

        birthdate                                         user_agent  \
0      1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
1      1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
2       1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3       1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
4       1969/6/27  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
...           ...                                                ...
25877   1963/8/24  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25878   1951/8/15  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
25879  1986/11/19  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25880    1959/2/6  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
25881   1969/8/22  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...

            ip_address  campaign
0        67.74.254.174     False
1        67.74.254.174     False
2      137.155.219.158     False
3      137.155.219.158     False
4         53.115.6.106      True
...                ...       ...
25877     58.3.164.178      True
25878  118.210.235.250      True
25879    112.172.97.50     False
25880    174.226.65.20     False
25881     56.182.53.24     False

[25882 rows x 14 columns]

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [19]:
df3.to_csv("ordersAndCustomerscombine.csv",index=False)